#cpp
*
!/**/
!*.*
*.out
*.o

#java
*.class

#cmake
build

#general
.DS_Store
.prettierrc.json
.vs
.vscode
*.exe
log.txt

#latex
*.toc
*.dvi
*.log
*.fls
*.synctex.gz
*.fdb_latexmk
*.aux
_minted*

# Comune
Libri

# Analisi 1
Analisi 1/Esercizi

# Fondamenti di Informatica
ADT/
Laboratorio/
Simulazioni/
Fondamenti di Informatica/Slide.pdf

# Fisica 1
Fisica 1/Esercizi
Fisica 1/Problemi

# Architettura degli Elaboratori
Architettura degli Elaboratori/Esercizi
Architettura degli Elaboratori/Slides

# Dati e Algoritmi
Dati e Algoritmi/Slide.pdf
Dati e Algoritmi/Esercizi
Dati e Algoritmi/Esame.pdf

# Laboratorio di Programmazione
Laboratorio di Programmazione/Slide.pdf

# Sistemi Operativi
Sistemi Operativi/Zibaldone

# Teoria Dei Circuiti
Teoria Dei Circuiti/Slide.pdf

# Fondamenti Di Elettronica
Fondamenti Di Elettronica/SPICE/progetto/Homework.pdf