#cpp
*
!/**/
!*.*
*.out
*.o

#java
*.class

#cmake
build

#general
.DS_Store
.prettierrc.json
.vs
.vscode
*.exe
log.txt

#latex
*.toc
*.dvi
*.log
*.fls
*.synctex.gz
*.fdb_latexmk
*.aux
_minted*

#Fondamenti di Informatica
ADT/
Laboratorio/
Simulazioni/
